.cm-filter-search-box {
    flex: 6;
    display: flex;
    align-items: center;
}

.cm-filter-search-box > *:not(:last-child) {
    margin-right: 8px;
}

.cm-filter-search-box .search-box-select {
    flex: 1;
}
